body {
	font-family: Monospace;
}

ul {
	list-style-type: none;
}

ul li {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid #b3b3b3;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 5px 10px;
	cursor: pointer;
}

.right-viewer-panel {
	background-color: #f0f0f0;
	margin: 0px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 300px;
	right: 0px;
	bottom: 0px;
}

.left-viewer-panel {
	background-color: #ffffff;
	margin: 0px;
	position: absolute;
	width: 300px;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow-y: scroll;
}
